# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs or temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# PyTorch cache
~/.cache/torch_extensions/
